.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #f9f9f9;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
}

button {
  padding: 5px 10px;
  margin: 10px 10px 0 0;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:disabled {
  background: #aaa;
}
